@charset "utf-8";
/* CSS Document */
*               { margin: 0; padding: 0; }
body            { font-size: 12px; color:#333;  font-family: "Microsoft YaHei"; min-width:1060px;}
em              { font-style:normal; }
ul, li          { list-style: none; }
a               { text-decoration: none; color:#333; }
a:hover         { text-decoration:none; color:#d20000; }
img             { border:0px; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
.clear          { clear:both; }
.clear15        { height:15px; clear:both;}
.hidden         { display: none; }

/*共用样式*/
.w1024{width:1024px;margin:0 auto;}
.w1190{width:1190px;margin:0 auto;}
.min_w{ min-width:1024px;}
i{ display:inline-block;}
.bgnone{ background: none !important;}
.brrnone{ border:none !important;}

.clear{clear:both;height:1px;font-size:0;}
.hide{display:none !important;}
.c333{color:#333 !important;}
.c666{color:#666 !important;}
.c999{color:#999 !important;}
.b333{background:#333 !important;}
.b666{background:#666 !important;}
.b999{background:#999 !important;}


/*字体*/
.f12{font-size:12px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f18{font-size:18px;}


/*定位*/
.bc{margin-left:auto;margin-right:auto;}
.fl{float:left;}
.fr{float:right;}
.oh{ overflow:hidden;}
.cb{clear:both;}
.pr{position:relative;}
.pa{position:absolute;}


/*边距*/
.m0{ margin:}
.m10{margin:10px;}
.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.mb10{margin-bottom:10px;}
.ml15{margin-left:15px;}
.mr15{margin-right:15px !important;}
.mr10{margin-right:10px !important;}
.m0{margin:0 !important;}
.mr0{margin-right:0 !important;}
.p10{padding:10px;}
.pn{padding:0;}

/*头部*/
.top { border-bottom:1px solid #f4f4f4;}
.top .top_red { background:#b60006; width:100%; height:7px;}

.top .top_info{ height:87px; }
.top .top_info .contact_info ul{ overflow:hidden; margin-top:11px;}
.top .top_info .contact_info ul li{ float:left; }
.top .top_info .contact_info ul li.text{ border-right:1px  dashed #cfcfcf; color:#101011; text-align:right; padding-right:19px; margin-right:22px; margin-top:12px;}
.top .top_info .contact_info ul li.text em{ margin-right:13px; color:#8b8b8b;}
.top .top_info .contact_info ul li.ewm{}
.top .top_info .contact_info ul li.ewm img{ width:51px; height:49px;}
.top .top_info .contact_info ul li.ewm p{ color:#8b8b8b; text-align:center; font-size::12px;}

/*头部导航*/
.top_nav ul{ overflow:hidden;}
.top_nav ul li{ float:left; width:128px; height:44px; line-height:44px; text-align:center; cursor:pointer;}

.top_nav ul li a{ font-size:15px; display:block; width:100%; height:100%; }
.top_nav ul li .on{ background:#b60006; color:#fff }

/*底部*/
.foot{ background:#1f1f1f; padding:30px 0;}
.foot p { color:#fff; line-height:30px; text-align:center; height:30px;}
.foot p a{color:#fff; font-size:12px; }
.foot p a.flsm{ margin-left:22px; margin-right:4px; padding-right:4px; border-right:1px solid #c7c7c7;}


.banner                { height:447px; }
.slidebanner                          { width:100%; height:447px; overflow:hidden; position:relative; }
*+html .slideBox                   { margin-top:0px;}
.dianji_abc                        { position:absolute; bottom:10px; left:50%; margin-left:-36px; z-index:1111;}
.slidebanner .hd                      { }
.slidebanner .hd ul                   { overflow:hidden; zoom:1;}
.slidebanner .hd ul li                { float:left; margin-right:8px; width:14px; height:14px;  background:#666666; cursor:pointer; border-radius:10px;}
.slidebanner .hd ul li.on             { background:#b60006; color:#fff; }
.slidebanner .bd img                  { width:100%; height:447px; }
.banner01                          { height:447px; }
.banner02                          { height:447px; }
.banner03                          { height:447px; }
.slidebanner .bd a  { height:100%; width:100%; display:block;}

/*首页导航*/
.index_nav { background:#fcfcfc; height:171px; border-bottom:1px solid #f2f2f2;}
.index_nav ul{ overflow:hidden; padding-top:59px;}
.index_nav ul li { width:50%; cursor:pointer; }
.index_nav ul li a { text-align:center; color:#1c1c1c; width:100%;}
.index_nav ul li a h6{ font-size:28px; cursor:pointer; }
.index_nav ul li a i{ background:url(../images/index_nav01.png) no-repeat; width:49px; height:49px; float:left; margin-left:22px;cursor:pointer;}
.index_nav ul li a i{ background:url(../images/index_nav.png) no-repeat;}
.index_nav ul li a:hover{ color:#b60006;}
.index_nav ul li a p{cursor:pointer;}

.flm { padding-right:70px; background:url(../images/index_nav.png) no-repeat 340px 0px;}

/*三栏信息*/
.three_info ul{ overflow:hidden; margin-top:76px; margin-bottom:46px;}
.three_info ul li { float:left; width:319px;}
.three_info ul li.middle{ margin:0 33px;}
.three_info ul li img{ width:319px;}
.three_info ul li h6{ text-align:center; font-size:24px; color:#fff; height:48px; line-height:48px;}
.three_info ul li h6.blue{ background:#44aaf8;}
.three_info ul li h6.red{ background:#f46c48;}
.three_info ul li h6.orange{ background:#ffba00;}
.three_info ul li p{ color:#737373; line-height:26px; padding:3px 15px;}

/*特色*/
.index_trait{ background:url(../images/index_trait_bg.jpg) center no-repeat; height:399px; padding-top:50px;}
.index_trait h5{ font-size:30px; color:#fff; text-align:center; line-height:50px;}
.index_trait p.short_dry { text-align:center; margin-top:8px;}
.index_trait p a{ width:100px; line-height:30px; height:30px; border:1px solid #fff; display:inline-block;border-radius: 7px; color:#fff;}
.index_trait ul { overflow:hidden; margin-top:54px;}
.index_trait ul li{ float:left; width:263px; margin:0 39px;}
.index_trait ul li dl dt { overflow:hidden;}
.index_trait ul li dl dt img{ float:left;}
.index_trait ul li dl dt h4{float:left; font-size:22px; color:#fff; width:156px;}
.index_trait ul li dl dt h4.mt20{ margin-top:20px;}
.index_trait ul li dl dd p{ color:#fff;}


.index_member { padding:60px 0 38px 0;}
.index_member h6{ text-align:center; font-size:30px; color:#d1d1d1;}
.index_member h5{text-align:center; font-size:30px; line-height:45px;}
.index_member p.p_title{text-align:center; color:#059e10; font-size:18px;}
.index_member p.p_title i{ width:13px; height:1px; vertical-align:middle; background:#ababb1; margin:0 10px;}
.index_member ul { overflow:hidden; margin-top:45px;}
.index_member ul li{float:left; width:232px; margin:0px 12px; }
.index_member ul li.mr0{ margin-right:0px;}

.index_member ul li div.index_portrait{ background:url(../images/index_portrait.png) no-repeat; position:relative; width:136px; height:136px; margin:0 auto; z-index:10;}
.index_member ul li div.index_portrait_bg{ width:136px; height:136px;z-index:10; position:absolute; left:0px; top:0px;background:url(../images/index_portrait.png) no-repeat;}
.index_member ul li div.index_portrait img{ position:absolute; z-index:1; left:0px; top:0px; width:100%; height:100%;}


.index_member ul li p.member_name{ text-align:center; font-size:16px; color:#1d1d1d; margin-top:5px;}
.index_member ul li div.member_info{  margin-top:10px; border-radius:5px; padding:10px 17px;}
.index_member ul li div.member_info p{ font-size:12px; line-height:23px; text-align:center;}
.index_member ul li div.member_info p.sign { margin-top:10px;}
.index_member ul li div.member_info p.sign i{ width:16px; height:8px; background:url(../images/index_sign.png) no-repeat; }
.index_member p.index_but{ text-align:center; margin-top:30px;}
.index_member p.index_but a{ padding:10px; color:#fff; background:#059e10; border-radius:7px; }

/*设施*/
.facilities { background:url(../images/facilities_bg.jpg) center no-repeat; height:414px; padding-top:48px;}
.facilities ul{ overflow:hidden;}
.facilities ul li{ float:left;}
.facilities ul li img{ width:100%;}
.facilities ul li.w238{ width:238px; font-size:0px;}
.facilities ul li.w277{ width:277px; margin:0 12px;}
.facilities ul li h6{ font-size:40px; line-height:121px; background:#483b3b; color:#fff; text-align:center; margin-bottom:10px;}
.facilities ul li .mb{ margin-bottom:14px;}

/*位置*/
.place{ padding:45px 0 56px 0;}
.place h5.title{ text-align:center; font-size:30px; color:#212121;}
.place p.but{ text-align:center; margin-top:10px;}
.place p.but a{ font-size:18px; color:#212121}
.place .place_info { margin-top:58px; overflow:hidden;}
.place .place_info .place_map{ width:767px; height:419px;}

.place .place_info .specific_info{ width:243px; margin-left:12px; border:1px solid #f2f2f2;height:417px;}
.place .place_info .specific_info .map_nav h5{ border-bottom:1px solid #f2f2f2; height:43px; line-height:43px; text-indent:20px; font-size:16px; color:#333333;}
.place .place_info .specific_info .map_nav ul { margin:11px 5px}
.place .place_info .specific_info .map_nav ul li{ height:60px; padding-top:10px;}
.place .place_info .specific_info .map_nav ul li.click{ background:#f6f6f6;}
.place .place_info .specific_info .map_nav ul li dl { overflow:hidden; margin:0px 12px 12px 12px;}
.place .place_info .specific_info .map_nav ul li dl dt{ float:left; margin-right:10px;}
.place .place_info .specific_info .map_nav ul li dl dt i{ width:20px; height:28px; background:url(../images/map_nav_pic.png) center no-repeat; font-weight:normal; font-style:normal; text-align:center; color:#fff; line-height:20px; font-size:12px; }
.place .place_info .specific_info .map_nav ul li dl dd{float:left;  width: 85%;}
.place .place_info .specific_info .map_nav ul li dl dd h6{ font-size:16px; color:#202020;}
.place .place_info .specific_info .map_nav ul li dl dd p{ font-size: 12px;color: #999; margin-top:6px;overflow: hidden;text-overflow: ellipsis; -o-text-overflow: ellipsis;white-space: nowrap;width: 100%;}

.wom_intr_pic{ background:url(../images/wom_intr_pic.jpg) center no-repeat; height:453px; min-width:1024px;}
.wom_intr_title h5 { overflow:hidden; display:inline-block; margin-left:395px;}
.wom_intr_title h5 i{ margin-right:18px;  color:#b70005; font-style:normal;  font-size:73px; text-align:center; float:left;}
.wom_intr_title h5 span{ float:left; margin-top:16px;}
.wom_intr_title h5 span b{ font-weight:normal; color:#a2a2a2; font-size:18px;}
.wom_intr_title h5 span em{ display:block; font-size:28px; text-align:left; height:33px; line-height:33px; margin-bottom:6px;}
.wom_intr_title h5 span.middle{ height:54px; line-height:54px; font-size:30px;}

.wom_intr_bg{ background:url(../images/wom_intr02.jpg) center no-repeat; height:747px; padding-top:68px; }
.wom_intr_bg2{background:url(../images/wom_intr03.jpg) center no-repeat; height:652px;}
.wom_intr_content { margin-top:70px;}
.wom_intr_content ul.dot_wire{ margin-top:12px;}
.wom_intr_content ul.dot_wire li{ width:17px; font-size:0px;}
.wom_intr_content ul.dot_wire li i.dot{ width:17px; height:17px;background:url(../images/wom_intr10.png) no-repeat; }
.wom_intr_content ul.dot_wire li i.wire{ width:17px; height:33px;background:url(../images/wom_intr11.png) no-repeat;}

.wom_intr_content ul.wom_intr_text { margin-left:25px;}
.wom_intr_content ul.wom_intr_text li.mb23{ margin-bottom:23px;}
.wom_intr_content ul.wom_intr_text li { margin-bottom:26px; }
.wom_intr_content ul.wom_intr_text li h5{ font-size:28px; color:#d5d5d5;}
.wom_intr_content ul.wom_intr_text li h5 span{ font-size:24px;}
.wom_intr_content ul.wom_intr_text li h5 em{ margin:0 8px;}
.wom_intr_content ul.wom_intr_text li p{ font-size:18px; color:#1d1d1d;}
.wom_intr_content ul.wom_intr_text li p em{color:#d5d5d5; width:109px; display:inline-block;}

.wom_intr_content ul.acquire_honor{ margin-right:64px;}
.wom_intr_content ul.acquire_honor li { margin-bottom:28px;}
.wom_intr_content ul.acquire_honor li h5{ font-size:28px; color:#080808;text-indent:17px;}
.wom_intr_content ul.acquire_honor li h5 span{ font-size:24px;}
.wom_intr_content ul.acquire_honor li h5 em{ margin:0 8px;}
.wom_intr_content ul.acquire_honor li p{ color:#d5d5d5; text-indent:17px; font-size:18px; color:#b4b4b4; margin-bottom:2px;}
.wom_intr_content ul.acquire_honor li  em.bg{ background:url(../images/wom_intr12.png) no-repeat; width:311px; height:34px; display:inline-block; color:#fff; text-indent:20px; font-size:18px; line-height:34px; }


.wom_intr_bg2 h4{ color:#fff; font-size:30px; text-align:center; padding-top:67px;}

.wom_intr_bg2 p.text{ font-size:24px; text-align:center; color:#fff; margin-top:16px; }
.wom_intr_bg2 ul {background:url(../images/wom_intr13.png) no-repeat; width:1024px; margin-top:72px; overflow:hidden; }
.wom_intr_bg2 ul li{ width:484px; float:left; height:446px; color:#fff;}

.wom_intr_bg2 ul li h5{ font-size:30px; margin-top:76px; text-align:center; }
.wom_intr_bg2 ul li p{ margin-top:48px; margin-left:27px; margin-right:27px;}
.wom_intr_bg2 ul li.mr{ margin-right:56px;}


/*辅导模式*/
.coach_pattern { padding-top:82px; padding-bottom:36px;}
.coach_pattern h5.title{ text-align:center;}
.coach_pattern h5.title em{background:#b70005; height:50px; display:inline-block; font-size:30px; line-height:50px; color:#fff; padding:0 49px;}
.coach_pattern h5.title i { width:27px; height:50px; vertical-align:top;}
.coach_pattern h5.title i.left{background:url(../images/wom_intr04.jpg) no-repeat;}
.coach_pattern h5.title i.right{background:url(../images/wom_intr05.jpg) no-repeat;}

.coach_pattern p.text{ text-align:center; color:#8d8d8d; margin-top:18px;}
.coach_pattern h6.title { margin:58px 0; text-align:center; font-size:18px;}

.w128{ width:128px;}
.w313{ width:313px;}
.w290{ width:290px;}
.w293{ width:293px;}
.w195{ width:195px;}
.w250{ width:250px;}
.w212{ width:212px;}
.w202{ width:202px;}

.coach_pattern .product_list table tr td{ border-bottom:1px solid #f4f4f4; text-align:center; padding:20px 0;}
.coach_pattern .product_list table tr td.tal{ text-align:left;}
.coach_pattern .product_list table tr td.tal p{ margin:0px 44px;}
.coach_pattern .product_list table thead tr td em{ display:inline-block; width:84px; height:62px; padding-top:32px;color:#fff;}
.coach_pattern .product_list table.orange thead tr td em{ background:url(../images/product_list01.png) no-repeat;}
.coach_pattern .product_list table.green { }
.coach_pattern .product_list table.green thead tr td em{ background:url(../images/product_list02.jpg) no-repeat;}
.coach_pattern .product_list table.green thead tr td em.ts{ height:71px; padding-top:23px;}
.coach_pattern .product_list table.green tr td.tal p{ margin:0px 35px;}


/*高考*/
.examination{ background:#f1f1f1; padding-top:60px; padding-bottom:80px;}
.examination h5.title{font-size:30px;text-align:center;}
.examination h5.title em{ color:#b60106;}
.examination p.text{ text-align:center;color:#8d8d8d; margin-top:18px;}
.examination img{ margin-left:27px; margin-top:30px;}

/*校区*/
.campus{ padding-top:58px; padding-bottom:100px;}
.campus p{ text-align:center; color:#1b1e28; font-size:18px; margin-bottom:13px;}
.campus p.ewm{ margin-top:25px;}
.campus .mt90{ margin-top:90px;}
/*热线电话*/
.hot_line { height:132px;/* border-bottom:5px solid #f8bb03;*/ background:#f8f8f8; }
.hot_line h6{line-height:132px; font-size:22px; color:#101011; text-align:center;}
.hot_line h6 em{ margin-left:50px; margin-right:27px;}


/*名师辅导*/
.counseling{ padding-top:50px; padding-bottom:50px;}
.counseling h4.title{ color:#151515; font-size:48px; text-align:center;}
.counseling h4.title em{ color:#ffcc00;}
.counseling p.text{ color:#737373; font-size:22px; text-align:center; margin-top:16px;}


.counseling .nav_type       { text-align:center; overflow:hidden; margin:0 auto; width:620px; margin-top:50px;}
.counseling .nav_type li    { width:94px; float:left; height:36px; margin:0 15px;}
.counseling .nav_type li a  { display:inline-block;width:100%; height:100%; font-size:15px; line-height:36px;  text-align:center; border-radius:5px;  cursor:pointer; }
.counseling .nav_type a.on  { background:#ffcc00 !important; color:#fff !important; line-height:36px;  }
.counseling .nav_type a:hover{ border:1px solid #ffcc00; color:#ffcc00; height:34px; line-height:34px;}

/*名师列表*/
.counseling ul.teacher_list{ margin-top:83px; overflow:hidden; margin-left:-33px;}
.counseling ul.teacher_list li{ float:left; width:308px; margin-left:33px; margin-bottom:30px; height:363px;}
.counseling ul.teacher_list li img{ width:169px; height:169px;}
.counseling ul.teacher_list li h6{ text-align:center; font-size:24px; margin-top:15px;}
.counseling ul.teacher_list li p{ text-align:center; margin-top:17px; color:#767676;}
.counseling ul.teacher_list li p.intr{ text-align:left; margin:17px 10px 0 10px; font-size:13px; color:#666; line-height:24px;}
.counseling ul.teacher_list li p em{ font-size:12px; padding:5px 12px; color:#fff; margin:0 3px;}
.counseling ul.teacher_list li p span{ color:#000;}
.counseling ul.teacher_list li p em.b_red{ background:#b70005;}
.counseling ul.teacher_list li p em.b_yellow{ background:#f7a901;}
.counseling ul.teacher_list li p em.b_green{ background:#08a204;}
.counseling ul.teacher_list li.mr0{ margin-right:0px;}

.counseling h5.title{ text-align:center; font-size:28px; margin-top:57px;}
.counseling p.e_text{text-align:center; font-size:18px; color:#a2a2a2; margin-top:5px; margin-bottom:77px;}

/*秋季班*/
.autumn_course_pic{ height:446px; background:url(../images/autumn_course_pic.jpg) center no-repeat;min-width:1024px;}

/*课程导航*/
.course_nav{ background:#e8e8e8;}
.course_nav ul { overflow:hidden;}
.course_nav ul li{ float:left; width:50%; height:68px; line-height:68px; text-align:center; }
.course_nav ul li a{font-size:26px; color:#0d0d0d;}
.course_nav ul li.pitch{ border-top:3px solid #f8bb03; background:#fff; }
.course_nav ul li.pitch a{color:#f8bb03;}

/*课程介绍 产品介绍*/

.introduce_title h5 { overflow:hidden; display:inline-block; margin-left:395px;}
.introduce_title h5 i{ margin-right:18px; width:55px; height:54px; color:#fff; font-style:normal; background:#f8bb03; font-size:40px; text-align:center; float:left;}
.introduce_title h5 span{ float:left;}
.introduce_title h5 span b{ font-weight:normal; color:#a2a2a2; font-size:18px;}
.introduce_title h5 span em{ display:block; font-size:28px; text-align:left; height:33px; line-height:33px;}
.introduce_title h5 span.middle{ height:54px; line-height:54px; font-size:30px;}
.introduce { padding-top:70px;}
.course_ul { overflow:hidden; margin-top:94px;}
.course_ul li{ float:left; width:50%; height:174px;}
.course_ul li dl{ overflow:hidden;}
.course_ul li dl dt{ float:left;}
.course_ul li dl dd{float:left; width:329px; margin-left:27px;}
.course_ul li dl dd h6{ font-size:24px; color:#133858; margin-bottom:16px;}
.course_ul li dl dd p{ color:#7d7d7d; font-size:12px; line-height:22px;}


.w119{ width:119px;}
.w120{ width:120px;}
.w395{ width:395px;}
.w117{ width:117px;}
.w265{ width:265px;}
.introduce_product { margin-top:40px; padding-bottom:60px;}
.introduce_product table{border-collapse:inherit;}
.introduce_product td{ border:1px solid #e9e9e9;}

.introduce_product table thead tr td { height:37px; line-height:37px; background:#f7f7f7; text-align:center; font-size:16px;}
.introduce_product table tbody tr td { padding:11px 0;font-size:14px; text-align:center;}
.introduce_product table tbody tr td p{ margin-left:37px; text-align:left; margin-right:30px;}
.introduce_product table tbody .c_green{ color:#4db823; font-size:24px;}
.introduce_product table tbody .c_red{ color:#da3030; font-size:24px;}
.introduce_product table tbody .c_blue{ color:#397fce; font-size:24px;}


/*教学特色*/
.feature { background:#f1f1f1; padding-top:50px;}
.feature .feature_ul{ overflow:hidden; margin-top:62px;}
.feature .feature_ul li{ float:left; width:233px; margin-right:30px;}
.feature .feature_ul li.mr0{ margin-right:0px;}
.feature .feature_ul li h6{ font-size:24px; text-align:center; color:#fff;}
.feature .feature_ul li p{ width:187px; margin-left:26px;color:#fff; font-size:12px; margin-top:16px;}
.feature .feature_ul li div{ background:#f8bb03; height:266px;}

/*课程体系*/
.course_system { padding-top:82px; padding-bottom:94px;}
.course_system ul{ overflow:hidden; margin-top:90px;}
.course_system ul li{ float:left; width:268px; margin-right:110px; text-align:center;}
.course_system ul li.mr0{ margin-right:0px;}
.course_system ul li p{ color:#cacaca;}
.course_system ul li  .c_fff { height:80px;}
.course_system ul li  .c_fff p{ color:#fff;}
.course_system ul li  .c_fff p.mt24{ padding-top:24px;}
.course_system ul li .c_green{ background:#edfae9;}
.course_system ul li div.c_green2{ background:#4cd028;}
.course_system ul li .c_red { background:#fdeeed;}
.course_system ul li .c_red2{background:#e75d4a;}
.course_system ul li .c_blue{ background:#edf6fd;}
.course_system ul li .c_blue2{ background:#4aa3e7;}
.course_system ul li h5{ font-size:24px; padding-bottom:10px;}
.course_system ul li h6{ padding-bottom:14px;}

/*获取成绩*/
.gain_result{ background:#f1f1f1; padding-top:56px;}
.gain_result .gain_result_text { padding-top:72px;}
.gain_result .gain_result_text p { font-size:18px; margin-bottom:47px; text-align:center;}
.gain_result .gain_result_text p span{ font-size:24px;}
.gain_result .gain_result_text p span.c_red{ color:#b60106;}

.gain_result .gain_result_text p span.c_blue{ color:#1498d6;}

.gain_result .gain_result_text p span.c_green{ color:#4ac10a;}
.gain_result .gain_result_text p span.c_orange{ color:#ff7800;}
.gain_result .gain_result_text p span.c_orange2{ color:#f8bb03;}

/*教学环境*/
.environment{ padding-top:60px;}
.environment img{ margin-top:60px;}
/*秋季班*/

/*个性化课程*/
.show_pic { height:447px; background:url(../images/show_pic.jpg) center no-repeat;}
/*课程导航*/
.course_nav{ background:#e8e8e8;}
.course_nav ul { overflow:hidden;}
.course_nav ul li{ float:left; width:50%; height:68px; line-height:68px; text-align:center; }
.course_nav ul li a{font-size:26px; color:#0d0d0d;}
.course_nav ul li.pitch{ border-top:3px solid #f8bb03; background:#fff; }
.course_nav ul li.pitch a{color:#f8bb03;}
/*课程列表*/
.course_list { padding-top:21px; padding-bottom:86px;}
.course_list ul { margin-left:6px; margin-right:40px;}
.course_list ul li { margin-top:47px;}
.course_list ul li dl { overflow:hidden;}
.course_list ul li dl dt{ width:192px; height:130px; float:left; position:relative; z-index:1;}
.course_list ul li dl dt img{ width:100%; height:100%;}
.course_list ul li dl dt p{ position:absolute; z-index:2; height:29px; line-height:29px; background:url(../images/gray_bg.png) repeat; width:100%; text-align:center; left:0px; bottom:0px; color:#fff;}
.course_list ul li dl dd { float:left; margin-left:31px;}
.course_list ul li dl dd h5 { font-size:24px; height:36px; line-height:36px;}
.course_list ul li dl dd p { color:#767676; height:24px; line-height:24px;  width:681px; position:relative; margin-top:30px;}
.course_list ul li dl dd p span{ position:absolute; width:46px; height:46px; background:url(../images/course_list_skin.png) no-repeat; right:-72px; top:-6px; font-size:18px; text-align:center; color:#fff; line-height:34px;}


/*辅导流程*/
.process { background:#f8f8f8; border-bottom:3px solid #f8bb03; }
.process .w1024{ padding-top:48px; padding-bottom:75px;position:relative;}
.process .bot_skin{ position:absolute; bottom:-3px; left:50%; width:44px; height:25px; background:url(../images/course_list_skin02.jpg) no-repeat; margin-left:-22px;}
.process h5.title{ text-align:center; font-size:28px; height:44px; line-height:44px;}
.process p.text{ font-size:18px; color:#a2a2a2; text-align:center;}
.process h6.title{ text-align:center; font-size:24px; color:#238fe2; margin-top:30px;}

.process h6.title i{ width:19px; height:18px;}
.process h6.title i.left{ background:url(../images/course_title_pic01.png) no-repeat; margin-right:14px; }
.process h6.title i.right{ background:url(../images/course_title_pic02.png) no-repeat; margin-left:14px;}

.process ul.process_list{ overflow:hidden; margin-top:53px;}
.process ul.process_list li { float:left; border:2px solid #238fe2; width:195px; height:201px; margin-right:7px; }
.process ul.process_list li.blue {background:#238fe2;}
.process ul.process_list li.mr0{ margin-right:0px;}
.process ul.process_list li h5,.process ul.process_list li h6,.process ul.process_list li p{ text-align:center;}

.process ul.process_list li h6 { color:#238fe2; font-size:20px; margin-top:15px; filter:alpha(opacity=50);  -moz-opacity:0.5;  
-khtml-opacity: 0.5;  opacity: 0.5;  }
.process ul.process_list li h5 { color:#238fe2; margin-top:58px; font-size:22px;}
.process ul.process_list li p{ color:#238fe2; margin-top:40px;}

.process ul.process_list li.blue h5{ color:#fff;}
.process ul.process_list li.blue h6 { color:#fefefe;}
.process ul.process_list li.blue p{ color:#fff;}

/*成功案例*/
.successful_case { padding-top:49px;}
.successful_case h5.title{ text-align:center; font-size:28px; }
.successful_case h6.title02{text-align:center; font-size:28px; color:#dadada; margin-top:14px;}

.successful_case ul.case_info{ overflow:hidden;}
.successful_case ul.case_info li{ float:left; width:50%; height:283px;margin-top:54px;}
.successful_case ul.case_info li dl{ overflow:hidden; }
.successful_case ul.case_info li dl dt{ float:left; margin-right:32px;}
.successful_case ul.case_info li dl dd{ float:left; width:337px;}
.successful_case ul.case_info li dl dd h5{ color:#133858; font-size:18px; margin-bottom:17px;}
.successful_case ul.case_info li dl dd p { overflow:hidden; margin:5px 0;}
.successful_case ul.case_info li dl dd p span{ color:#7d7d7d; float:left; width:267px;}
.successful_case ul.case_info li dl dd p em{float:left}
.successful_case ul.case_info li dl dd p em i{ width:28px;}
/*个性化课程*/
/*分页*/ 
.page_updown      {  height:35px; padding-bottom:20px; } 
.page_updown ul   { float:right; display:block; }
.page_updown ul a { float:left; margin-left:6px; font-size:14px; background:#FFF; display:block; padding: 8px 14px; line-height:17px; border:1px solid #cecece;} 
.page_updown ul span    { float:left;  margin-left:6px;font-size:12px; display:block; padding: 8px 14px; line-height:17px; background:#dd0000; color:#fff; border:solid 1px #dd0000;} 
.page_updown ul a:hover { background:#dd0000; border:solid 1px #dd0000; color:#fff;} 
/*分页*/

.kbjh_box  { padding-top:15px;  background:#f9f9f9;}
.kbjh_com  { width:1024px; margin:0 auto;  }
.fanganfl_box  {   border:solid 1px #e6e6e6; padding:5px 15px 0px 15px; background:#FFF; }
.fanganfl_a    { height:36px; padding:8px 0; border-bottom: dotted 1px #e1e1e1; }
.fanganfl_c    { height:36px; padding:12px 0;  }
.fanganfl_box .lanm_a  { width:65px; text-align:center; margin-right:25px;  height:32px;  display:block; float:left; background:#ff7200; color:#FFF;}
.fanganfl_box .lanm_b  { width:65px; text-align:center; margin-right:25px;  height:32px;  display:block; float:left; background:#69cb00; color:#FFF;}
.fanganfl_box .lanm_c  { width:65px; text-align:center; margin-right:25px;  height:32px;  display:block; float:left; background:#0090da; color:#FFF;}
.fanganfl_box a        { height:32px; line-height:32px; padding:0 20px; font-size:14px; display:block; float:left; margin-right:10px; border-radius: 3px;}
.fanganfl_box a:hover  { background:#ff9c00; color:#FFF;}
.fanganfl_box .on      { background:#ff9c00; color:#FFF;}

 
.kc_listbox        { overflow:hidden; margin-left:-24px; padding:5px 0; padding-bottom:20px;  padding-top:15px;}
.kc_listbox ul li  { width:325px; height:355px; margin-left:24px; margin-bottom:15px;  float:left; color:#666; overflow:hidden; position:relative;  background:#FFF;}
.kc_listbox ul li .jpkc  { position: absolute; color:#FFF; font-size:15px; background:#d20000; height:30px; padding:0 15px; line-height:30px; top:0; right:0px;  }
.kc_listbox ul li:hover  {background:#fff;
box-shadow: 0 1px 3px rgba(0, 0, 0, .3);                  
-moz-box-shadow: 0 1px 3px rgba(0,0,0,.3);
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);}
.kc_listbox .pic   { height:200px; width:370px;}
.kc_listbox .pic img  { height:200px; width:370px;}
.kc_listbox .title    { height:40px; line-height:40px; font-size:16px; padding:0 10px; }
.kc_listbox .miaosu   { height:50px; line-height:22px; font-size:14px; padding:0 10px; padding-top:5px; }
.kc_listbox .kec_xx               { height:30px; line-height:30px; font-size:14px; color:#d20000;  padding:0 10px;}
.kc_listbox .kec_xx span          { color:#d20000; font-weight:bold;}
.kc_listbox .kec_xx .kc_lx        { float:left;}
.kc_listbox .kec_xx .kc_jg        { float: right; }


.students { padding-top:50px;}
.students h5.top_title{ text-align:center; font-size:30px; color:#202020; margin-top:}
.students p.top_text { text-align:center; font-size:16px; margin-top:29px;}
.students p.top_text em{ margin:0 17px;}
.students p.top_text em i{ width:5px; height:5px; vertical-align:middle; background:url(../images/students_i.jpg) no-repeat; margin-right:7px;}
.students p.students_text { text-align:center; margin-top:19px; margin-bottom:67px;}
.students p.students_text span{ width:209px; text-align:center; height:39px; line-height:39px; color:#b70005; border:1px solid #b70005; font-size:18px; display:inline-block; }
.students ul.students_list{ overflow:hidden; margin-left:-107px;}
.students ul.students_list li{ float:left; width:267px; text-align:center; margin-bottom:59px; margin-left:107px;}
.students ul.students_list li.mr0{ margin-right:0px;}
.students ul.students_list li div{ text-align:left; padding:23px 17px 0 17px; border:1px solid #e9e9e9; position:relative; margin-top:28px; height:250px;}
.students ul.students_list li div i{ width:31px; height:11px; background:url(../images/gray_skin.jpg) no-repeat; position:absolute; left:50%; margin-left:-15px; top:-11px;}
.students ul.students_list li div h6{ text-align:center; font-size:18px; margin-bottom:20px;}
.students ul.students_list li div p{ color:#949494; font-size:12px;}
.students ul.students_list li p { font-size:16px; }
.students ul.students_list li p.mt15{margin-top:15px;}
.students ul.students_list li p i.zkb{ background:url(../images/zkb_pic.jpg) no-repeat; width:61px; height:14px; vertical-align:baseline; margin-left:13px;}
.students ul.students_list li p em{}
.students ul.students_list li p.c_red{color:#b70005}
.students h5.title{text-align: center;font-size: 28px;margin-top: 57px;}
.students p.e_text{text-align: center;font-size: 18px;color: #a2a2a2;margin-top: 5px; margin-bottom: 77px;}
.students ul.students_list li .pic     { text-align:center;}
.students ul.students_list li .pic img { width:145px; }



.wom_intr_pic{ background:url(../images/wom_intr_pic.jpg) center no-repeat; height:453px; min-width:1024px;}
.campus { padding-top:80px; padding-bottom:55px;}
.campus h5.campus_title{ font-size:28px; text-align:center; margin-bottom:23px;}
.campus h6.campus_text{ font-size:22px; text-align:center; margin-bottom:60px; color:#b70007;}
.campus .campus_nav ul { overflow:hidden; text-align:center; margin-bottom:65px; margin-left:167px;}
.campus .campus_nav ul li    { display:block; height:36px; margin:0 22px;  float:left;}
.campus .campus_nav ul li a  { display:block; height:34px;  line-height:34px; padding:0px 15px;  font-size:15px;  cursor:pointer; border:1px solid #fff; }
.campus .campus_nav ul li .on{ color:#fff !important; background:#ffcc00 !important; border:1px solid #ffcc00; border-radius:5px; }
.campus .campus_nav ul li :hover{ border:1px solid #ffcc00; color:#ffcc00;  border-radius:5px;}
.campus .campus_pic{ border:1px solid #f4f4f4; padding:0 19px 20px 19px;}
.campus .campus_pic h6{ text-align:center; font-size:40px; height:100px; line-height:100px; margin-bottom:15px;}
.campus .campus_pic img{ width:100%;}

.list_hj       { margin-left:-24px; overflow:hidden;}
.list_hj ul li { width:312px; height:225px; margin-left:24px; margin-bottom:20px;  float:left; color:#666; position:relative;}
.list_hj ul li .pic      { height:225px; width:312px;}
.list_hj ul li .pic img  { height:225px; width:312px;}
.list_hj ul li .txt      { height:40px; line-height:40px; font-size:15px; width:100%; bottom:0px; background:rgba(000, 000, 000, 0.5); position:absolute; text-indent:20px; color:#FFF;  }
.list_hj ul li .txt a    { color: #FFF;  }

.zaixianliuyan {background:#fff url(../images/zaixianliuy_bg.jpg) no-repeat scroll center center / cover; height:400px; }

.aboutmain{ background:#fff url(../images/about_bg1.jpg) no-repeat scroll center center / cover; height:400px; }
.aboutmain .name   { line-height:60px; font-size:27px; color:#FFF; padding-bottom:15px;}
.aboutmain .add    { line-height:30px; font-size:17px; color:#FFF;}
.aboutmain .tel    { line-height:30px; font-size:16px; color:#FFF; padding-top:20px;}
.aboutmaincon{margin:0 auto;width:1024px; height:400px;}
.aboutl{float:left;  padding:100px 0 0 0; width:50%; height:300px; overflow:auto;}
.aboutr{float:right;width:340px; height:320px; padding-top:80px; }
.about_yxgdnw{margin:0px 0 0 50px;}
.about_yxgdnw img{margin:210px 0 0 0;}
 
.brand{background:#f5f7fa url("/images/brand_bg.jpg") repeat center center;overflow:hidden;position:relative;z-index:2;}
.brandinfo{max-width:1024px; margin:40px auto 0px; padding:0 0 75px;}
.brandt{width:100%;margin:0 auto;}
.brandinfo h1{margin:0 5px;color:#5fbf5f; font-size:27px; line-height:50px;}
.brandinfo h2{margin:0 5px;color:#7a8799;font:normal 1.6em "微软雅黑",Hiragino Sans GB;}
.brandteg{margin:5px 5px 0;color:#b0b6bf;font:normal 0.6em "微软雅黑";text-transform:uppercase;}
.brandlist{margin:30px 0 0;overflow:hidden;}
.brandlist ul{width:100%;margin:0 auto;}
.brandlist ul li{float:left;width:33%;margin:0 0 10px 0;}
.brandinfo ul li h3{color:#fff; font-size:17px;}
.brandlist ul li p{margin:10px 0 0; font-size:14px; line-height:22px;}
.brandlistinfo{display:block;margin:0 5px 0;padding:15px;color:#fff;cursor: pointer;transition: background 0.5s;}
.brandon{border-left:2px solid #5fbf5f;}

.brandbg1{background:#5fbf5f;}
.brandbg2{background:#52cca3;}
.brandbg3{background:#6c90d9;}
.brandbg4{background:#d96c6c;}

.aboutfcus{
 background:#fff url(../images/about_bg2.jpg) no-repeat scroll center center / cover; height:365px;
}
.focus{padding:70px 0 0 0;text-align:center;}
.focus h1{color:rgba(255,255,255,1);font-size:2em;font-family:"微软雅黑","宋体";font-weight:normal;line-height:120%;}
.focus h2{color:rgba(255,255,255,1);font-size:2em;font-family:"微软雅黑","宋体";font-weight:normal;line-height:150%;}
.focus h3{margin:15px 0 0;color:rgba(255,255,255,1);font-size:1.5em;font-family:sanfranciscodisplay-regular;font-weight:normal;text-transform : uppercase}
.focus h4{color:rgba(255,255,255,1);font-size:0.75em;font-family:sanfranciscodisplay-regular;font-weight:normal;text-transform : uppercase}

.aboutpagecdt{margin:30px 0 0 0;text-align:center;}
.aboutpagecdt li{display:inline-block;margin:0 0 5px 0;padding:0 2px;}
.aboutcdtzx a   {display:inline-block; background:#fff;padding:9px 20px; color:#ff794c; border:1px solid #fff ; font-size:15px; border-radius:5px;}
.aboutcdtzx a:hover{background:#fff;color:#ff794c;}
.aboutcdtzp a{display:inline-block;padding:8px 20px;color:#fff;border:2px solid #fff;border-radius:5px;}
.aboutcdtzp a:hover{background:#fff;color:#ff794c;}


.news_con_top { width:1024px; margin:0 auto; border-bottom:1px solid #e9e9e9; color:#3b3b3b; font-size:14px; text-align:center; line-height:59px; overflow:hidden; }
.news_con_top .con{ width:1024px; margin:0 auto; }
.news_con_top .con strong{ font-weight:normal;  margin-right:25px;}
.news_con_top ul{ float:left; line-height:30px; margin-top:15px;}
.news_con_top ul .iconfont{font-family:iconfont!important;font-size:18px;font-style:normal;-webkit-font-smoothing:antialiased;-webkit-text-stroke-width:.2px;-moz-osx-font-smoothing:grayscale;width:30px;height:30px;line-height:30px;border-radius:50%;display:inline-block;vertical-align:top}

a.allnews_n               { background:#fff; width:158px; height:38px; text-align:center; font-size:14px; color:#333; border-radius:2px; display:block; margin:40px auto 100px auto; line-height:38px;  }
a.allnews_n:hover         { background:#1ea721;color:#fff;}
.news_con_banner          { width:100%; overflow:hidden; text-align:center; height:300px;}
.news_con_banner h1       { font-size:30px; line-height:50px; color:#fff; margin-top:210px;} 
 
.news_con_top  a.more{ float:right; color:#2b2b2b;}
.news_con_top  a.more:hover{ text-decoration:underline;} 

.news_con     { width:1024px; margin:20px auto; overflow:hidden; line-height:200%; font-size:15px;   }
.news_con img { max-width:980px;}
.news_con p   { padding-bottom:10px;}
.news_con .show       { text-align:center; font-size:14px; clear:both; margin-top:60px; line-height:40px;}
.news_con .show .weibo{ background:url(../images/icon.png) no-repeat -521px 0; width:23px; height:19px; display:inline-block; margin-right:15px; vertical-align:-3px;}
.news_con .show .weixin{ background:url(../images/icon.png) no-repeat -552px 0; width:23px; height:19px; display:inline-block;  vertical-align:-3px;}
 
 

.page_up     { height:80px; background:#fbfbfb; border:dashed 1px #e5e5e5; padding:10px 10px; margin-top:30px; margin-bottom:30px;}
.page_up .fanye 	 { height:40px; line-height:40px;  font-size:15px; padding:0px;}


.jjfa_show { background:#FFF; height:306px;   }
.jjfa_show .pic  { height:306px; float:left; width:435px; }
.jjfa_show .pic img  { height:306px; width:435px; }
.jjfa_show .txt_box  { height:306px; float:right; width:520px; padding-right:30px; position:relative; }
.jjfa_show .txt_box .baomin_btn { width:180px; height:46px; position:absolute; right:30px; bottom:23px;   }
.jjfa_show .txt_box .baomin_btn a { width:180px; line-height:46px; height:46px; display:block; background:#ff9c00; text-align:center; font-size:17px; color:#FFF;  border-radius:4px;}
.jjfa_show .txt_box .baomin_btn a:hover  { background:#ff7200;}
.jjfa_show .txt_box .title  { height:56px; line-height:38px; font-size:28px; padding-top:20px; color:#29415d; font-weight:bold; }
.jjfa_show .txt_box .msxx   { height:160px; line-height:30px; font-size:15px;  }

.xzfx_box   { height:40px; }
.xiazai a   { height:40px; display:block; width:115px; line-height:40px; background:url(../images/xiazaibtn.png) no-repeat 0 center; float:left; padding-left:30px; color:#979797; }
.fengxiang  { height:33px; width:350px; float:left; padding-top: 7px;
}

.jjfznr_box    { overflow:hidden; padding:30px 0; padding-bottom:10px;  }
.jjfznr_con    { width:1024px; margin:0 auto;}
.jjfznr_left   { float:left; width:695px; min-height:600px; padding:0 15px; background:url(../images/zise.gif) #FFF right 0 no-repeat; }
.jjfznr_right  { float:right; width:250px; min-height:600px;  padding:0 15px;  background:url(../images/fengse.gif) #FFF right 0 no-repeat;}
.jjfznr_left .lan  { height:60px; line-height:60px; border-bottom:solid 1px #dfdfdf; }
.jjfznr_right .lan  { height:90px; padding-top:20px; }
.jjfznr_left .lan .name_cn   {  height:60px; padding:0 15px; font-size:18px;  color:#3c6b93; display:block; background:url(../images/icon002.gif) no-repeat 0px center; padding-left:25px; }
.jjfznr_right .lan .name_cn   { height:50px; font-size:25px; line-height:50px; text-align:center;  background:url(../images/lanbgb.gif) center center no-repeat;}
.jjfznr_right .lan .name_en   { height:20px;  line-height:20px; text-align:center; color:#b9b9b9; }

.jjfznr_wqhg                  {}
.jjfznr_wqhg ul li            { height:70px; padding-bottom:15px; margin-bottom:15px; border-bottom: dotted 1px #dbdbdb;  }
.jjfznr_wqhg ul li .pic       { height:70px; float:left; width:100px; margin-right:15px;}
.jjfznr_wqhg ul li .pic img   { height:70px; width:100px; }   
.jjfznr_wqhg ul li .miaosu    { height:70px; float:left; width:135px; }
.jjfznr_wqhg ul li .title     { height:30px; line-height:25px; overflow:hidden; }
.jjfznr_wqhg ul li .xinxi     { height:40px; line-height:20px;   overflow:hidden;  color:#7b7b7b; }
.show_conbox { line-height:200%; font-size:15px; padding:20px 0; min-height:300px;}
.show_conbox img  { max-width:820px;}
.xueyuan_main  { width:1150px; overflow:hidden; margin:20px auto;}
.erweima_shear   { height: 100px;  font-size: 15px; line-height:28px; text-align: center;  padding-top: 220px;} 
.bdsharebuttonbox { height: 30px; width: 241px; margin:0 auto;  }
.bdsharebuttoqnbox { height: 30px; width: 241px;  }

.page_up { height:60px; background:#fbfbfb; border:dashed 1px #e5e5e5; padding:10px 10px; margin-top:30px; margin-bottom:30px;}
.page_up p { height:30px; line-height:30px; font-family: "Microsoft YaHei"; font-size:15px;}

.dqwz_box  { height:60px; line-height:60px; font-size:15px; }



.news_module            { width:1024px; margin:0 auto; }
.news_module .left_side { width:200px; float:left;}
.tree_menu              { width:100%; border-top:1px solid #e6e6e6; margin-top:50px;}
.tree_menu ul{ line-height:50px;}
.tree_menu ul li{ border-bottom:1px solid #e6e6e6; font-size:14px;}
.tree_menu ul li a{ color:#222; display:block;}
.tree_menu ul li a:hover{ color:#24b727;}
.tree_menu ul li.on a{ color:#24b727;}
.tree_menu ul li a i{ background:url(../images/common.png) no-repeat; width:16px; height:16px; display:inline-block; margin:0 12px 0 20px; vertical-align:-3px;}
.tree_menu ul li a i.t1{ background-position:-29px 0; vertical-align:-5px}
.tree_menu ul li a i.t2{ background-position:-29px -24px;}
.tree_menu ul li a i.t3{ background-position:-29px -57px;}
.tree_menu ul li a i.t4{ background-position:-29px -86px;}
.tree_menu ul li a i.t5{ background-position:-29px -116px;}

.tree_menu ul li a:hover i.t1{ background-position:0px 0; vertical-align:-5px}
.tree_menu ul li a:hover i.t2{ background-position:0px -24px;}
.tree_menu ul li a:hover i.t3{ background-position:0px -57px;}
.tree_menu ul li a:hover i.t4{ background-position:0px -86px;}
.tree_menu ul li a:hover i.t5{ background-position:0px -116px;}

.tree_menu ul li.on a i.t1{ background-position:0px 0; vertical-align:-5px}
.tree_menu ul li.on a i.t2{ background-position:0px -24px;}
.tree_menu ul li.on a i.t3{ background-position:0px -57px;}
.tree_menu ul li.on a i.t4{ background-position:0px -86px;}
.tree_menu ul li.on a i.t5{ background-position:0px -116px;}

.news_module .right_side     { width:800px; float:right; }
.news_list                   { width:100%; margin:50px auto; clear:both; overflow:hidden; padding-bottom:30px; border-bottom:1px dotted #c0c2c3;}
.news_list .pic        { float:left; display:block; width:250px; height:160px; }
.news_list .pic img    { width:250px; height:160px; }
.news_list .con        { width:530px; float:right;  text-align:left; color:#666; font-size:14px; line-height:24px;}
.news_list .con .title { font-size:20px; display:block; margin-bottom:5px; line-height:40px; height:40px; font-weight:normal; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; -moz-binding:url('ellipsis.xml#ellipsis'); overflow:hidden;}
.news_list .con .time  { height:30px; line-height:30px; font-size:15px; } 
.news_list .con .time  { height:30px; line-height:30px; font-size:15px; } 
.news_list .con .miaosu { line-height:25px; font-size:14px; }



 
 
.main_case       { width:1160px; margin:0 auto; overflow:hidden; }
.case_con        { overflow:hidden; margin-left:-24px; padding:40px 0;}
.case_con ul li  { width:370px; height:310px; margin-left:24px; margin-bottom:40px;  float:left; color:#666;}
.case_con .pic   { height:220px; width:370px;}
.case_con .pic img  { height:220px; width:370px;}
.case_con .title    { height:40px; line-height:40px; font-size:16px; }
.case_con .miaosu   { height:50px; line-height:22px; font-size:14px;}



.case .btn{ background:#24b727; width:120px; height:35px; text-align:center; font-size:14px; color:#fff; border-radius:2px; display:block; margin:40px auto 80px auto; clear:both; line-height:35px;   -moz-transition: all 0.3s  ease-in-out; -webkit-transition: all 0.3s  ease-in-out; transition: all 0.3s  ease-in-out;}
.case .btn:hover{ background:#1ea721;}

.case .btn.wu{ background:#fff;  width:158px; height:38px; text-align:center; font-size:14px; color:#fff; border-radius:2px; display:block; margin:40px auto 80px auto; clear:both; line-height:35px;   -moz-transition: all 0.3s  ease-in-out; -webkit-transition: all 0.3s  ease-in-out; transition: all 0.3s  ease-in-out; color:#333;}
.case .btn.wu:hover{ background:#1ea721; color:#fff;}

.ibeacon_f          { height:457px; background:url(../images/ibeacon_f.jpg) no-repeat center 0;}
.mess_box           { width:865px; height:339px; margin:0 auto; padding-top:70px; transition: all .5s;}
.mess_box:hover     { width:865px; height:339px; margin:0 auto; padding-top:50px; transition: all .5s;}
.mess_padd        { padding-top:50px; padding-left:370px; height:289px;  background:url(../images/zaixianlybg.gif) no-repeat;}
.mess_box .mess_title          { height:75px; line-height:75px; font-size:28px; text-align:center; color:#FFF;}
.mess_box .mess_list           { height:35px; padding-bottom:15px; }
.mess_box .mess_name           { height:35px; line-height:35px; float:left; width:118px; text-align:right; padding-right:10px; font-size:17px;   }
.mess_box .mess_name span      { color:#ff8400;}
.mess_box .mess_input          { height:35px; line-height:35px; float:left; width:280px;   transition: all .5s;}
.mess_box .mess_input input    { height:35px; line-height:35px; width:240px; padding:0 10px; border-radius:5px; border:solid 1px #dadada;  }
.mess_box .mess_btn            { height:45px; padding:10px 0; }
.mess_box .mess_btn a           { height:45px; line-height:45px; width:250px;  border-radius:25px; margin:0 auto; display:block; background:#00a1db; text-align:center; font-size:20px; color:#FFF;  transition: all .5s; }
.mess_box .mess_btn input          { height:45px; line-height:45px; width:250px;  border-radius:25px; border:0px; margin:0 auto; display:block; background:#00a1db; text-align:center; font-size:20px; color:#FFF;  transition: all .5s; }
.mess_box:hover .mess_btn input     { background: #4fbb00;    transition: all .5s; border:0px;}
.mess_box .mess_misosu          { height:35px; padding-top:15px; line-height:35px; text-align:center; font-size:25px; color:#FFF; }
.mess_miaosub  { height:40px; line-height:40px; font-size:16px;  text-align:center; color:#a4a4a4;  }
.mess_box:hover input          { background:#ffffdf; transition: all .5s;}
.mess_box:hover .mess_btn a    { background:#4fbb00; transition: all .5s;}
